*

#cabecalho > img{
    display: flex;
    align-items: center;
    width: 100%;
}

#navbar{
    display: flex;
    align-items: center;
    padding-left: 5%;
    gap: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 2rem;
}

#navbar > a{
    color: rgb(236, 157, 10);
}

#carBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

#carBanner > img{
    width: 60%;
    height: 35%;
}

/* Estilização da página de Frotas */

#frotaForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10% 5%;
}
#frotaForm > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
}
#tabela{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 50px 50px 50px;
    align-items: center;
    justify-items: center;
    border-style: solid;

}
.searchbar{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.searchbar > input{
    height: 5%;
}

/* Estilização do formulário de cadastro de Veículos */

#cadastroForm{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    margin: 10% 5%;
}
#campos{
    display: flex;
    align-items: center;
    gap: 1rem;
}